{% extends "base/layout.twig.html" %}

{% block content %}
<h1 class="mt-5">User Eintritt erstellen</h1>
<!-- Wichtig für den POST Aufruf -->
<form action="{{ urlroot }}/erstellen/index" method="post">
    <!-- Tabelle mit allen Eingabe Feldern, welche nicht verändert werden können. Die Daten werden aus dem "data" Array geladen -->
    <!-- Fall in dem Error Array ein Fehler sein sollte, wird dieser angezeigt -->
    <table>
        <tr>
            <td>Vorname <sup>*</sup></td>
            <td>
                {% if data.vorname_error is empty %}
                <input type="text" name="vorname" value="{{ data.vorname }}">

                {% else %}
                <input type="text" name="vorname" value="{{ data.vorname }}"
                    class="Fehlerbox">
                <tr>
                    <td></td>
                    <td><p class="Fehlertext">{{ data.vorname_error }}</p></td>
                </tr>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Mittelname</td>
            <td>
                {% if data.mittelname_error is empty %}
                <input type="text" name="mittelname" value="{{ data.mittelname
                    }}">

                {% else %}
                <input type="text" name="mittelname" value="{{ data.mittelname
                    }}" class="Fehlerbox">
                <tr>
                    <td></td>
                    <td><p class="Fehlertext">{{ data.mittelname_error }}</p></td>
                </tr>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Nachname <sup>*</sup></td>
            <td>
                {% if data.nachname_error is empty %}
                <input type="text" name="nachname" value="{{ data.nachname }}">
                {% else %}
                <input type="text" name="nachname" value="{{ data.nachname }}"
                    class="Fehlerbox">
                <tr>
                    <td></td>
                    <td><p class="Fehlertext">{{ data.nachname_error }}</p></td>
                </tr>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Jobtitel <sup>*</sup></td>
            <td>
                {% if data.jobtitel_error is empty %}
                <input type="text" name="jobtitel" value="{{ data.jobtitel }}">
                {% else %}
                <input type="text" name="jobtitel" value="{{ data.jobtitel }}"
                    class="Fehlerbox">
                <tr>
                    <td></td>
                    <td><p class="Fehlertext">{{ data.jobtitel_error }}</p></td>
                </tr>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Eintrittdatum <sup>*</sup></td>
            <td>
                {% if data.eintrittdatum_error is empty %}
                <input class="datumfeldgroesse" type="date" name="eintrittdatum"
                    value="{{ data.eintrittdatum }}">

                {% else %}
                <input class="datumfeldgroesse Fehlerbox" type="date"
                    name="eintrittdatum" value="{{ data.eintrittdatum }}">
                <tr>
                    <td></td>
                    <td><p class="Fehlertext">{{ data.eintrittdatum_error }}</p></td>
                </tr>
                {% endif %}
            </td>
        </tr>
        <!-- Hier beginnen die Chekboxen -->
        <tr>
            <td>Neuer Laptop</td>
            <td><input type="checkbox" name="neuerlaptop" id="neuerlaptop"
                    value="1" {% if data.neuerlaptop =="1" %} checked {%
                    endif %}></td>
        </tr>
        <tr>
            <td>Neues Handy</td>
            <td><input type="checkbox" name="neueshandy" id="neueshandy"
                    value="1" {% if data.neueshandy =="1" %} checked {%
                    endif %}></td>
        </tr>
        <tr>
            <td>Neues Telefon</td>
            <td><input type="checkbox" name="neuestelefon" id="neuestelefon"
                    value="1" {% if data.neuestelefon =="1" %} checked {%
                    endif %}></td>
        </tr>
        <tr>
            <td>Windows Login</td>
            <td><input type="checkbox" name="winuser" id="winuser" value="1"
                    {% if data.winuser =="1" %} checked {% endif %}></td>
        </tr>
        <tr>
            <td>SAP Login</td>
            <td><input type="checkbox" name="sapuser" id="sapuser" value="1"
                    {% if data.sapuser =="1" %} checked {% endif %}></td>
        </tr>
    </table>
    <p class="lead">Bemerkung</p>
    <!-- Textfeld für Bemerkungen von dem HR-->
    <textarea placeholder="Besonders wichtig ist ..." name="bemerkungenhr"
        id="bemerkungenhr" cols="50" rows="10">{% if data.bemerkungenhr %}
        {{data.bemerkungenhr}} {% endif %}</textarea>
    <p class="Pflichtfeld"><sup>*</sup> Sind Pflichtfelder und müssen ausgefüllt
        werden</p>
    <button class="button platz" type="submit">User Eintritt erstellen</button>
</form>

{% endblock %}