{% extends "base/layout.twig.html" %}

{% block content %}
<!-- Content-Block wird überschrieben -->
<h1 class="mt-5">User Eintritt erstellen</h1>
<form action="{{ urlroot }}/erstellen/index" method="post">
<table>
    <tr>
        <td>Vorname <sup>*</sup></td>
        <td>
            {% if data.vorname_error is empty %}
                <input type="text" name="vorname" value="{{ data.vorname }}">
                
                {% else %}
                <input type="text" name="vorname" value="{{ data.vorname }}" class="Fehlerbox">
                <tr>
                    <td></td>
                    <td><p class="Fehlertext">{{ data.vorname_error }}</p></td>
                </tr>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Mittelname</td>
        <td>
            {% if data.mittelname_error is empty %}
                <input type="text" name="mittelname" value="{{ data.mittelname }}">
                
                {% else %}
                <input type="text" name="mittelname" value="{{ data.mittelname }}" class="Fehlerbox">
                <tr>
                    <td></td>
                    <td><p class="Fehlertext">{{ data.mittelname_error }}</p></td>
                </tr>
            {% endif %}
        </td>    
    </tr>
    <tr>
        <td>Nachname <sup>*</sup></td>
        <td>
            {% if data.nachname_error is empty %}
                <input type="text" name="nachname" value="{{ data.nachname }}">
                
                {% else %}
                <input type="text" name="nachname" value="{{ data.nachname }}" class="Fehlerbox">
                <tr>
                    <td></td>
                    <td><p class="Fehlertext">{{ data.nachname_error }}</p></td>
                </tr>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Jobtitel <sup>*</sup></td>
        <td>
            {% if data.jobtitel_error is empty %}
                <input type="text" name="jobtitel" value="{{ data.jobtitel }}">
                
                {% else %}
                <input type="text" name="jobtitel" value="{{ data.jobtitel }}" class="Fehlerbox">
                <tr>
                    <td></td>
                    <td><p class="Fehlertext">{{ data.jobtitel_error }}</p></td>
                </tr>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Personalnummer <sup>*</sup></td>
        <td>
            {% if data.personalnummer_error is empty %}
                <input type="text" name="personalnummer" value="{{ data.personalnummer }}">
                
                {% else %}
                <input type="text" name="personalnummer" value="{{ data.personalnummer }}" class="Fehlerbox">
                <tr>
                    <td></td>
                    <td><p class="Fehlertext">{{ data.personalnummer_error }}</p></td>
                </tr>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Eintrittdatum <sup>*</sup></td>
        <td><input type="text" name="eintrittdatum" value=""></td>
    </tr>
    <tr>
        <td>Neuer Laptop</td>
        <td><input type="checkbox" name="laptop" id="laptop" value="laptop"></td>
    </tr>
    <tr>
        <td>Neues Handy</td>
        <td><input type="checkbox" name="handy" id="handy" value="handy"></td>
    </tr>
    <tr>
        <td>Neues Telefon</td>
        <td><input type="checkbox" name="telefon" id="telefon" value="telefon"></td>
    </tr>
    <tr>
        <td>Windows Login</td>
        <td><input type="checkbox" name="winlogin" id="winlogin" value="winlogin"></td>
    </tr>
    <tr>
        <td>SAP Login</td>
        <td><input type="checkbox" name="saplogin" id="saplogin" value="saplogin"></td>
    </tr>
</table>
<p class="lead">Bemerkung</p>
<textarea cols="50" rows="10">Besonders wichtig ist …</textarea>
<p class="Pflichtfeld"><sup>*</sup> Sind Pflichtfelder und müssen ausgefüllt werden</p>
<button class="button" type="submit">User Eintritt erstellen</button>
</form>

{% endblock %}