{% extends "base/layout.twig.html" %}

{% block content %}
<!-- Home Seite -->
<head>
</head>
{% if keineberechtigung == true %}
<div class="alert alert-danger platz3" role="alert">
    Du hast keine Berechtigung
  </div>
{% endif %}

{% if bereitseingeloggt == true %}
<div class="alert alert-danger platz3" role="alert">
    Du bist bereits mit einem Benutzer eingeloggt
  </div>
{% endif %}

<h1 class="mt-5">User Eintritt</h1>
<p class="lead">Ein Projekt in dem das HR einen User Eintritt erstellen kann.
    Welche dann diesen Eintritt zur IT weiterleiten, die dann die Checkliste
    nachführen. Der Vorgesetzte schliess dann zum Schluss den Eintritt ab.
    
</p>

{% endblock %}