{% extends "base/layout.twig.html" %}

{% block content %}

<!-- Wir überschreiben den Content-Block -->
<h1 class="mt-5">Übersicht Eintritte Vorgesetzter</h1>
<form action="{{ urlroot }}/abschliessen/index" method="post">
<!-- {{ dump(data) }} -->
<div class="scrolltabelle platzunten">
    <table class="table tableplatz">
        <thead class="thead-dark">
            
            <tr>
                <th class="tablevertline" colspan="7">HR</th>
                <th class="tablevertline" colspan="2">IT</th>
                <th class="tablevertline" colspan="2">Vorgesetzter</th>
            </tr>
            <tr>
                <th scope="col">Personalnummer</th>
                <th scope="col">Vorname</th>
                <th scope="col">Mittelname</th>
                <th scope="col">Nachname</th>
                <th scope="col">Jobtitel</th>
                <th scope="col">Eintrittdatum</th>
                <th class="tablevertline" scope="col">Bemerkung HR</th>
                <th scope="col">Checkliste erledigt?</th>
                <th class="tablevertline" scope="col">Bemerkung IT</th>
                <th scope="col">Eintritt abschliessen</th>
                <th scope="col">Eintritt löschen</th>
            </tr>
        </thead>
        <tbody>
            <!-- * Daten einfügen, dazu die Ausgabe 1 zu Ja ersetzen-->
            {% for datarow in data %}
            <tr>
                <th scope="row">{{ datarow.personalnummer }}</th>
                <td>{{ datarow.vorname }}</td>
                <td>{{ datarow.mittelname }}</td>
                <td>{{ datarow.nachname }}</td>
                <td>{{ datarow.jobtitel }}</td>
                <td>{{ datarow.eintrittdatum }}</td>
                <td class="tablevertline2">{{ datarow.bemerkungenhr }}</td>
                <td>
                    {% if datarow.status >= 2 %}
                            <p>Ja</p> 

                    {% endif %}
                </td>
                <td class="tablevertline2">{{ datarow.bemerkungenit }}</td>
                {# Damit nur die User Aufgelistet werden, welche für den Vorgesetzten sind. Die anderen sind noch bei der IT #}
                {% if datarow.status >= 2 %}            
                    <td><button class="button platz2" name="abschliessen" type="submit">Eintritt abschliessen</button></td>
                    <td><button class="button platz2" name="loeschen" type="submit">Eintritt löschen</button></td>
                {% else%}
                    {# Falls der User noch bei der IT, jedoch trotzdem die Linien angezeigt werden sollen #}
                    <td></td>
                    <td></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</form>
{% endblock %}