{% extends "base/layout.twig.html" %}

{% block content %}

<!-- Wir überschreiben den Content-Block -->
<h1 class="mt-5">User Eintritte Liste Vorgesetzter</h1>

<!-- {{ dump(data) }} -->
<div class="scrolltabelle platzunten">
    <table class="table tableplatz">
        <thead class="thead-dark">
            
            <tr>
                <th class="tablevertline" colspan="12">HR</th>
                <th class="tablevertline" colspan="7">IT</th>
            </tr>
            <tr>
                <th scope="col">Personalnummer</th>
                <th scope="col">Vorname</th>
                <th scope="col">Mittelname</th>
                <th scope="col">Nachname</th>
                <th scope="col">Jobtitel</th>
                <th scope="col">Eintrittdatum</th>
                <th scope="col">Neuer Laptop</th>
                <th scope="col">Neues Handy</th>
                <th scope="col">Neues Telefon</th>
                <th scope="col">Windows Account</th>
                <th scope="col">SAP Account</th>
                <th class="tablevertline" scope="col">Bemerkung HR</th>
                <th scope="col">Neuer Laptop erledigt?</th>
                <th scope="col">Neues Handy erledigt?</th>
                <th scope="col">Neues Telefon erledigt?</th>
                <th scope="col">Windows Account erledigt?</th>
                <th scope="col">SAP Account erledigt?</th>
                <th scope="col">Drucker eingetragen</th>
                <th class="tablevertline" scope="col">Bemerkung IT</th>
            </tr>
        </thead>
        <tbody>
            <!-- * Daten einfügen, dazu die Ausgabe 1 zu Ja ersetzen-->
            {% for datarow in data %}
            <tr>
                <th scope="row">{{ datarow.personalnummer }}</th>
                <td>{{ datarow.vorname }}</td>
                <td>{{ datarow.mittelname }}</td>
                <td>{{ datarow.nachname }}</td>
                <td>{{ datarow.jobtitel }}</td>
                <td>{{ datarow.eintrittdatum }}</td>
                <td>
                    {% if datarow.status >= 1 %}
                        {% if datarow.neuerlaptop == 1 and datarow.status >= 1 %}
                            <p>Ja</p> 
                        
                        {% else %}
                            <p>Nein</p>

                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {% if datarow.status >= 1 %}
                        {% if datarow.neueshandy == 1 and datarow.status >= 1 %}
                            <p>Ja</p> 
                        
                        {% else %}
                            <p>Nein</p>

                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {% if datarow.status >= 1 %}
                        {% if datarow.neuestelefon == 1 and datarow.status >= 1 %}
                            <p>Ja</p> 
                        
                        {% else %}
                            <p>Nein</p>

                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {% if datarow.status >= 1 %}
                        {% if datarow.winuser == 1 and datarow.status >= 1 %}
                            <p>Ja</p> 
                        
                        {% else %}
                            <p>Nein</p>

                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {% if datarow.status >= 1 %}
                        {% if datarow.sapuser == 1 and datarow.status >= 1 %}
                            <p>Ja</p> 
                        
                        {% else %}
                            <p>Nein</p>

                        {% endif %}
                    {% endif %}
                    
                </td>
                <td class="tablevertline" >{{ datarow.bemerkungenhr }}</td>
                <td>
                    {% if datarow.status >= 2 %}
                        {% if datarow.checkneuerlaptop == 1 and datarow.status >= 2 %}
                            <p>Ja</p> 
                        
                        {% else %}
                            <p>Nein</p>

                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {% if datarow.status >= 2 %}
                        {% if datarow.checkneueshandy == 1 and datarow.status >= 2 %}
                            <p>Ja</p> 
                        
                        {% else %}
                            <p>Nein</p>

                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {% if datarow.status >= 2 %}
                        {% if datarow.checkneuestelefon == 1 and datarow.status >= 2 %}
                            <p>Ja</p> 
                        
                        {% else %}
                            <p>Nein</p>

                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {% if datarow.status >= 2 %}
                        {% if datarow.checkactivedirectory == 1 and datarow.status >= 2 %}
                            <p>Ja</p> 
                        
                        {% else %}
                            <p>Nein</p>

                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {% if datarow.status >= 2 %}
                        {% if datarow.checksap == 1 and datarow.status >= 2 %}
                            <p>Ja</p> 
                        
                        {% else %}
                            <p>Nein</p>

                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {% if datarow.status >= 2 %}
                        {% if datarow.checkdrucker == 1 and datarow.status >= 2 %}
                            <p>Ja</p> 
                        
                        {% else %}
                            <p>Nein</p>

                        {% endif %}
                    {% endif %}
                </td>
                <td >{{ datarow.bemerkungenit }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}