{% extends "base/layout.twig.html" %}

{% block content %}
<h1 class="mt-5">Eintritt bearbeiten</h1>
<!-- Wichtig für den POST Aufruf -->
<form action="{{ urlroot }}/bearbeiten/index" method="post">
    <!-- Tabelle mit allen Eingabe Feldern, welche nicht verändert werden können. Die Daten werden aus dem "data" Array geladen -->
    <table>
        <tr>
            <td>Vorname</td>
            <td><input class="grau" readonly="readonly" type="text"
                    name="vorname" value="{{ data.vorname }}"></td>
        </tr>
        <tr>
            <td>Mittelname</td>
            <td><input class="grau" readonly="readonly" type="text"
                    name="mittelname" value="{{ data.mittelname }}"></td>
        </tr>
        <tr>
            <td>Nachname</td>
            <td><input class="grau" readonly="readonly" type="text"
                    name="nachname" value="{{ data.nachname }}"></td>
        </tr>
        <tr>
            <td>Jobtitel</td>
            <td><input class="grau" readonly="readonly" type="text"
                    name="jobtitel" value="{{ data.jobtitel }}"></td>
        </tr>
        <tr>
            <td>Personalnummer</td>
            <td><input class="grau" readonly="readonly" type="text"
                    name="personalnummer" value="{{ data.personalnummer}}"></td>
        </tr>
        <tr>
            <td>Eintrittdatum</td>
            <td><input class="grau" readonly="readonly" type="text"
                    name="eintrittdatum" value="{{ data.eintrittdatum }}"></td>
        </tr>
        <!-- Auch die Checkboxen sind nicht mehr veränderbar -->
        <tr>
            <td>Neuer Laptop</td>
            <td><input type="checkbox" onclick="return false;"
                    name="neuerlaptop" id="neuerlaptop" value="{{
                    data.neuerlaptop }}" {% if data.neuerlaptop =="1" %}
                    checked {% endif %}></td>
        </tr>
        <tr>
            <td>Neues Handy</td>
            <td><input type="checkbox" onclick="return false;" name="neueshandy"
                    id="neueshandy" value="{{ data.neueshandy }}" {% if
                    data.neueshandy =="1" %} checked {% endif %}></td>
        </tr>
        <tr>
            <td>Neues Telefon</td>
            <td><input type="checkbox" onclick="return false;"
                    name="neuestelefon" id="neuestelefon" value="{{
                    data.neuestelefon }}" {% if data.neuestelefon =="1" %}
                    checked {% endif %}></td>
        </tr>
        <tr>
            <td>Windows Login</td>
            <td><input type="checkbox" onclick="return false;" name="winuser"
                    id="winuser" value="{{ data.winuser }}" {% if data.winuser
                    =="1" %} checked {% endif %}></td>
        </tr>
        <tr>
            <td>SAP Login</td>
            <td><input type="checkbox" onclick="return false;" name="sapuser"
                    id="sapuser" value="{{ data.sapuser }}" {% if data.sapuser
                    =="1" %} checked {% endif %}></td>
        </tr>
    </table>
    <p class="lead">Bemerkung HR</p>
    <!-- Textfeld für Bemerkungen von dem HR, welche auch nicht mehr veränderbar ist -->
    <textarea class="grau" readonly="readonly" cols="50" rows="10">{% if
        data.bemerkungenhr %} {{data.bemerkungenhr}} {% endif %}</textarea>
    <!-- Checkboxen für die Checkliste der IT -->
    <table>
        <tr>
            <td>Neuer Laptop erledigt</td>
            <td><input type="checkbox" name="checkneuerlaptop"
                    id="checkneuerlaptop" value="1" {% if
                    data.checkneuerlaptop =="1" %} checked {% endif %}></td>
        </tr>
        <tr>
            <td>Neues Handy erledigt</td>
            <td><input type="checkbox" name="checkneueshandy"
                    id="checkneueshandy" value="1" {% if data.checkneueshandy
                    =="1" %} checked {% endif %}></td>
        </tr>
        <tr>
            <td>Neues Telefon erledigt</td>
            <td><input type="checkbox" name="checkneuestelefon"
                    id="checkneuestelefon" value="1" {% if
                    data.checkneuestelefon =="1" %} checked {% endif %}></td>
        </tr>
        <tr>
            <td>Windows Login erledigt</td>
            <td><input type="checkbox" name="checkwinuser" id="checkwinuser"
                    value="1" {% if data.checkwinuser =="1" %} checked {%
                    endif %}></td>
        </tr>
        <tr>
            <td>SAP Login erledigt</td>
            <td><input type="checkbox" name="checksapuser" id="checksapuser"
                    value="1" {% if data.checksapuser =="1" %} checked {%
                    endif %}></td>
        </tr>
        <tr>
            <td>Drucker erledigt</td>
            <td><input type="checkbox" name="checkdrucker" id="checkdrucker"
                    value="1" {% if data.checkdrucker =="1" %} checked {%
                    endif %}></td>
        </tr>
    </table>
    <p class="lead">Bemerkung IT</p>
    <!-- Textfeld für Bemerkungen von der IT -->
    <textarea name="bemerkungenit" id="bemerkungenit" cols="50" rows="10">{% if
        data.bemerkungenit %} {{data.bemerkungenit}} {% endif %}</textarea>
    <button class="button platz" type="submit" name="aktualisieren" value="{{
        data.personalnummer }}">Eintritt aktualisieren</button>
</form>
{% endblock %}