{% extends "base/layout.twig.html" %}

{% block content %}

<!-- Wir überschreiben den Content-Block -->
<h1 class="mt-5">Eintritt bearbeiten</h1>
<form action="{{ urlroot }}/bearbeiten/index" method="post">
<table>
    <tr>
        <td>Vorname</td>
        <td><input class="grau" readonly="readonly" type="text" name="vorname" value="{{ data.vorname }}"></td>
    </tr>
    <tr>
        <td>Mittelname</td>
        <td><input class="grau" readonly="readonly" type="text" name="mittelname" value="{{ data.mittelname }}"></td>
    </tr>
    <tr>
        <td>Nachname</td>
        <td><input class="grau" readonly="readonly" type="text" name="nachname" value="{{ data.nachname }}"></td>
    </tr>
    <tr>
        <td>Jobtitel</td>
        <td><input class="grau" readonly="readonly" type="text" name="jobtitel" value="{{ data.jobtitel }}"></td>
    </tr>
    <tr>
        <td>Personalnummer</td>
        <td><input class="grau" readonly="readonly" type="text" name="personalnummer" value="{{ data.personalnummer}}"></td>
    </tr>
    <tr>
        <td>Eintrittdatum</td>
        <td><input class="grau" readonly="readonly" type="text" name="eintrittdatum" value="{{ data.eintrittdatum }}"></td>
    </tr>
    <tr>
        <td>Neuer Laptop</td>
        <td><input type="checkbox" onclick="return false;" name="neuerlaptop" id="neuerlaptop" value="{{ data.neuerlaptop }}" {% if data.neuerlaptop == "true" %} checked {% endif %}></td>
    </tr>
    <tr>
        <td>Neues Handy</td>
        <td><input type="checkbox" onclick="return false;" name="neueshandy" id="neueshandy" value="{{ data.neueshandy }}" {% if data.neueshandy == "true" %} checked {% endif %} ></td>
    </tr>
    <tr>
        <td>Neues Telefon</td>
        <td><input type="checkbox" onclick="return false;" name="neuestelefon" id="neuestelefon" value="{{ data.neuestelefon }}" {% if data.neuestelefon == "true" %} checked {% endif %} ></td>
    </tr>
    <tr>
        <td>Windows Login</td>
        <td><input type="checkbox" onclick="return false;" name="winuser" id="winuser" value="{{ data.winuser }}" {% if data.winuser == "true" %} checked {% endif %} ></td>
    </tr>
    <tr>
        <td>SAP Login</td>
        <td><input type="checkbox" onclick="return false;" name="sapuser" id="sapuser" value="{{ data.sapuser }}" {% if data.sapuser == "true" %} checked {% endif %} ></td>
    </tr>
</table>
<p class="lead">Bemerkung HR</p>
<textarea  class="grau" readonly="readonly" cols="50" rows="10">Besonders wichtig ist …</textarea>
<table>
    <tr>
        <td>Neuer Laptop erledigt</td>
        <td><input type="checkbox" name="checkneuerlaptop" id="checkneuerlaptop" value="true" {% if data.checkneuerlaptop == "true" %} checked {% endif %} ></td>
    </tr>
    <tr>
        <td>Neues Handy erledigt</td>
        <td><input type="checkbox" name="checkneueshandy" id="checkneueshandy" value="true" {% if data.checkneueshandy == "true" %} checked {% endif %} ></td>
    </tr>
    <tr>
        <td>Neues Telefon erledigt</td>
        <td><input type="checkbox" name="checkneuestelefon" id="checkneuestelefon" value="true" {% if data.checkneuestelefon == "true" %} checked {% endif %} ></td>
    </tr>
    <tr>
        <td>Windows Login erledigt</td>
        <td><input type="checkbox" name="checkwinuser" id="checkwinuser" value="true" {% if data.checkwinuser == "true" %} checked {% endif %} ></td>
    </tr>
    <tr>
        <td>SAP Login erledigt</td>
        <td><input type="checkbox" name="checksapuser" id="checksapuser" value="true" {% if data.checksapuser == "true" %} checked {% endif %} ></td>
    </tr>
    <tr>
        <td>Drucker erledigt</td>
        <td><input type="checkbox" name="checkdrucker" id="checkdrucker" value="true" {% if data.checkdrucker == "true" %} checked {% endif %} ></td>
    </tr>
</table>
<p class="lead">Bemerkung IT</p>
<textarea placeholder="Alles i.O." name="bemerkungenit" id="bemerkungenit" cols="50" rows="10">{% if data.bemerkungenit %} {{data.bemerkungenit}} {% endif %}</textarea>
<button class="button platz" type="submit">Eintritt aktualisieren</button>
</form>
{% endblock %}