<header>
  <!-- Fixed navbar -->
  <link rel="stylesheet" href="/css/custom.css">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="http://localhost:8000">User Eintritt</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto abstand">
        <li class="nav-item active">
          <a class="nav-link" href="/erstellen/">Eintritt erstellen</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/bearbeiten/">Eintritt bearbeiten</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/abschliessen/">Eintritt abschliessen</a>
        </li>
      </ul>
    </div>
  </nav>
</header>