<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="http://localhost:8000">User Eintritt</a>
    <button class="navbar-toggler" type="button platz" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto abstand">
        <li class="nav-item active">
          <a class="nav-link" href="/erstellen/">Eintritt erstellen</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/listeit/">Übersicht Eintritte IT</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/listevorgesetzter/">Übersicht Eintritte Vorgesetzter</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/liste/">Eintrittsliste</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto abstandrechts">
        <li class="nav-item active">
          <a class="nav-link active" href="/Users/login">Login</a>
        </li>
      </ul>
    </div>
  </nav>
</header>